.home-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 32px;
  padding-bottom: 0;
}

.about-wrapper {
  width: 60%;
}

.about-wrapper p {
  margin-top: 32px;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray-color);
}

.about-wrapper div {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}

.about-wrapper div a {
  text-decoration: none;
  font-size: 1.2rem;
  width: fit-content;
}

.planet-wrapper {
  display: flex;
  justify-content: center;
  padding: 16px;
  flex: 1;
}

.planet {
  width: 400px;
  height: auto;
  animation: float 2s ease-in-out infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-25px);
  }
}
