.nav-header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.nav-header input[type="checkbox"] {
  display: none;
}

.toggleSwitch {
  position: relative;
  display: inline-block;
  height: 2.4rem;
  width: 4.4rem;
}

.themeSlider {
  position: absolute;
  cursor: pointer;
  height: 2.4rem;
  background-color: #e8e8e8;
  transition: 0.4s;
  border-radius: 8rem;
  width: 4.4rem;
  padding: 0.2rem;
}

.themeSlider::before {
  content: url("../../assets/images/sun-icon.svg");
  height: 2rem;
  width: 2rem;
  position: absolute;
  background-color: #ffffff;
  text-align: center;
  transition: 0.4s;
  border-radius: 4rem;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

input:checked + .themeSlider {
  background-color: #707aff;
}
input:checked + .themeSlider::before {
  content: url("../../assets/images/moon-icon.svg");
  transform: translateX(calc(3.8rem - 1.6rem - 0.2rem));
}

.nav-link {
  margin-right: 32px;
}

.nav-link:hover {
  color: var(--main-color);
}
