.apod-page-container {
  padding: 60px 32px;
  text-align: center;
}

.no-data {
  padding: 60px 32px;
  font-size: 24px;
  line-height: 32px;
}

.apod-meaning {
  margin-top: 32px;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray-color);
}
