.apod-page-container {
  padding: 60px 32px;
  text-align: center;
}

.no-data {
  padding: 60px 32px;
  font-size: 24px;
  line-height: 32px;
}

.apod-meaning {
  margin-top: 32px;
  font-size: 24px;
  line-height: 32px;
  color: var(--gray-color);
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 35px;
  gap: 10px;
}

.filter-container button {
  margin-top: 10px;
  padding: 0.5rem 0.5rem;
}

.filter-container .filter-inputs {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter-inputs input {
  background-color: lightgray;
  padding: 0 0.5rem;
}

.filter-container .error {
  color: red;
}
